.questions-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  touch-action: none;
  animation: fade-in 0.3s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.question-wrapper {
  position: absolute;
  width: calc(100vh * 0.5625);
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: transform 0.3s ease-out;
}

.question-wrapper.current-static {
  transform: translateY(0);
  transition: none; /* Disable transition */
}

.question-wrapper.next-static {
  transform: translateY(100%);
  transition: none; /* Disable transition */
}

.question-wrapper.prev-static {
  transform: translateY(-100%);
  transition: none; /* Disable transition */
}

.current-sliding-up {
  transform: translateY(-100%);
}

.next-sliding-up {
  transform: translateY(0);
}

.next-sliding-down {
  display: none;
}

.current-sliding-down {
  transform: translateY(100%);
}

.prev-sliding-down {
  transform: translateY(0);
}

.prev-sliding-up {
  display: none;
}

@media (max-width: 768px) {
  .questions-container {
    padding-bottom: 40px;
  }
  
  .question-wrapper {
    height: calc(100% - 40px);
  }
}